<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Order</h4>
</div>
<div class="modal-body">
  <p>
    <strong>Please confirm:</strong>
  </p>
  <div class="text-primary">
    <h3>{{ order.name }}</h3>
    <span class="text-muted">
      {{ order.description }}
    </span>
  </div>
  <div class="w-100 d-flex justify-content-between mt-3">
    <span class="p-type-size">{{ type.size }}</span>
    <span class="p-type-weight"
      >{{ type.weight }}
      <span class="p-type-measure">grams</span>
    </span>
    <span class="p-type-price"
      >{{ type.price | money }}
      <span class="p-type-measure">bgn</span>
    </span>
  </div>
</div>
<div class="modal-footer justify-content-between">
  <input #inputQuantity type="number" min="1" max="1000" class="form-control" style="width: 80px;" value="{{ order.quantity }}" />
  <div>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger ml-2" (click)="modal.close(inputQuantity.value)">Submit</button>
  </div>
</div>
