<nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">Pizza Raykov</span>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navDropdownUser" role="button">
          <span *ngIf="isLogged">{{ User.username }}</span>
          <span *ngIf="!isLogged">User</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navDropdownUser" class="dropdown-menu">
          <a *ngIf="!isLogged" ngbDropdownItem routerLink="/user/login">Login</a>
          <a *ngIf="!isLogged" ngbDropdownItem routerLink="/user/register">Register</a>
          <a *ngIf="isLogged" ngbDropdownItem routerLink (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
