<form>
  <div class="form-group form-inline">
    <h3>Orders</h3>
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'createdAt',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="createdAt"
          (sort)="handleSort($event)"
        >
          Order time
        </th>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'pizza.name',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="pizza.name"
          (sort)="handleSort($event)"
        >
          Pizza
        </th>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'pizza.user.address',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="pizza.user.address"
          (sort)="handleSort($event)"
        >
          Delivery address
        </th>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'quantity',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="quantity"
          (sort)="handleSort($event)"
        >
          Quantity
        </th>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'price',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="price"
          (sort)="handleSort($event)"
        >
          Price
        </th>
        <th
          [ngClass]="{
            sorted: service.sortColumn === 'status',
            asc: service.sortDirection === 'asc',
            desc: service.sortDirection === 'desc'
          }"
          scope="col"
          appSortable
          column="status"
          (sort)="handleSort($event)"
        >
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of orders$ | async"
        [ngClass]="{ active: order.status === 'active', new: order.status === 'new', dispatched: order.status === 'dispatched' }"
      >
        <td class="align-middle" scope="col">
          {{ order.createdAt | date: 'medium' }}
        </td>
        <td class="align-middle" scope="col">
          <span class="p-type-name">{{ order.pizza.name }}</span>
          <span class="p-type-size">{{ order?.size }}</span>
          <span class="p-type-weight"
            >{{ order?.weight }}
            <span class="p-type-measure">gr.</span>
          </span>
        </td>
        <td class="align-middle" scope="col">
          {{ order.user.address }}
        </td>
        <td class="align-middle" scope="col">
          {{ order.quantity }}
        </td>
        <td class="align-middle" scope="col">
          <span class="p-type-price"
            >{{ order.price | money }}
            <span class="p-type-measure">bgn</span>
          </span>
        </td>
        <td class="align-middle" scope="col">
          <select
            *ngIf="isAdmin"
            class="form-control custom-select pizza-type-input"
            (change)="handleOrderStatusChange(order, $event.target.value)"
          >
            <option *ngFor="let status of ['new', 'active', 'dispatched']" [ngValue]="status" [selected]="order.status === status">{{
              status
            }}</option>
          </select>
          <span *ngIf="!isAdmin">
            {{ order.status }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</form>
